---
title: Events &amp; Activities
directory_index: false
---

<div class="section">
  <p>
    Cowork Niagara organizes and hosts events for our members and independent
    professionals who want to learn from each other about their industries.
    Whether you’re a writer, developer, designer or other creative entrepreneur,
    you’ll learn practical tips and tricks you can apply to your business. As a
    volunteer-based co-operative coworking space, these events can only happen
    with the continuing support of our members.
  </p>

  <p>
    Pick an event and come out – <em>we’d love to meet you</em>.
  </p>

  <p>
    <em>All events are held at <%= link_to "Cowork Niagara", "/find-us.html" %> unless otherwise noted!</em>
  </p>


  <h2>Regular Events</h2>
  <div class="event">
    <a href="http://www.eventbrite.ca/e/openhack-tickets-18896869044" target="_new" class="event-logo">
      <img src="/images/events/openhack.png" alt="OpenHackSTC">
    </a>

    <div class="event-details">
      <h3>OpenHackSTC</h3>
      <dl>
        <dt>Website</dt>
        <dd><a href="http://openhack.github.io/st_catharines/" target="_new">Website</a></dd>

        <dt>When</dt>
        <dd>Not currently active</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="http://www.eventbrite.ca/e/openhack-tickets-18896869044" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        Want to chat after DevTricks but never have the availability?
        Want to beat the solitary blues?
        Have a software hurdle and need some feedback?
        Want to build something with others?
        This event's for you!
        Join other local Niagara software developers for some casual code,
        beverages, and discussion. We have a welcoming group and all skill levels
        / technologies are encouraged to attend.
      </p>
    </div>
  </div>

  <div class="event">
    <a href="http://www.softwareniagara.com/" target="_new" class="event-logo">
      <img src="/images/events/devtricks.png" alt="DevTricks">
    </a>

    <div class="event-details">
      <h3>DevTricks</h3>
      <dl>
        <dt>Website</dt>
        <dd><a href="http://www.softwareniagara.com/" target="_new">softwareniagara.com</a></dd>

        <dt>When</dt>
        <dd>Second Monday of each month at 7 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="http://www.meetup.com/software-niagara/" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        This event is organized by Software Niagara and hosted in partnership with
        Cowork Niagara. We line up a few developers for each event to teach the
        programming languages, frameworks, tools &amp; tips that make them productive.
        DevTricks is open to everyone – members and non-members.
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-logo">
      <img src="/images/events/biztricks.png">
    </div>

    <div class="event-details">
      <h3>BizTricks</h3>
      <dl>
        <dt>When</dt>
        <dd>Second Wednesday of each month at 7 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="#" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        Five business people take five minutes each to share one tip to help you in
        your own business. We talk about everything from software and project
        management to productivity hacks and business development. BizTricks is open
        to everyone – members and non-members.
      </p>
    </div>
  </div>

  <div class="event">
    <div class="event-logo">
      <img src="/images/events/writetricks.png">
    </div>

    <div class="event-details">
      <h3>WriteTricks</h3>
      <dl>
        <dt>When</dt>
        <dd>Third Tuesday of each month at 7 p.m.</dd>

        <dt>Admission</dt>
        <dd>FREE</dd>

        <dt>RSVP Required?</dt>
        <dd><a href="#" target="_new">Yes please!</a></dd>
      </dl>

      <p>
        Passionate writers share tricks of the trade to help each other write more
        effectively and communicate better with readers. WriteTricks is open to
        everyone – members and non-members.
      </p>
    </div>
  </div>

    <div class="event">
    <div class="event-logo">
      <img src="/images/events/opendata.png" alt="Niagara Open Data Meetups">
    </div>
    <div class="event-details">
      <h3>Niagara Open Data Meetups</h3>
      <dl>
        <dt>When</dt>
        <dd>First Thursday of each month at 7pm</dd>
        <dt>Admission</dt>
        <dd>FREE</dd>
        <dt>Registration</dt>
        <dd>Yes, Please!</dd>
      </dl>
      <p>When the data we generate is published in reusable, redistributable and machine readable formats, governments, citizens, businesses and nonprofits can all use it to gain better insights into the challenges they're solving.</p>
      <p>Join with a diverse group of technical and non-technical people who are passionate about working more closely together to solve shared problems.</p>
      <p>Meetups are used to share examples, best practices, and work on projects. No experience required!</p>
    </div>
  </div>

  <div class="event">
    <div class="event-logo">
      <img src="/images/events/introduction-to-podcasting.png" alt="Cowork Niagara's Introduction to Podcasting Course">
    </div>
    <div class="event-details">
      <h3><strong>Limited Run!</strong> Intro to Podcasting</h3>
      <dl>
        <dt>When</dt>
        <dd>October 24, 2015, November 21, 2015, January 23, 2015</dd>
        <dt>Admission</dt>
        <dd>$20 (HST included)</dd>
        <dt>Registration</dt>
        <dd><a href="https://www.eventbrite.ca/e/introduction-to-podcasting-at-cowork-niagara-tickets-18979202305">Eventbrite</a></dd>
      </dl>
      <p>Learn how to plan, record and host your podcast. Participants will be able to go from concept to completion.</p>
      <p>In one weekend session, get all the information you’ll need to start podcasting. Podcasting is a great way to explore subjects you love with a depth that is sure to connect with others around the world. You can build your business, get better at your hobby, or find other people passionate about your nonprofit’s mission with a podcast.</p>
      <p>You’ll be able to use Cowork Niagara’s Podcast Studio to record your first episode (and future episodes, if you’re a member!). Experienced podcasters will walk you through all the steps.</p>
    </div>
  </div>

</div>
